<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck a card game</title>

    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    @RenderBody();

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>

        const cards = {
            "Hearts Ace": '@Url.Content("~/cards/hearts/hearts_ace.png")',
            "Hearts Two": '@Url.Content("~/cards/hearts/hearts_two.png")',
            "Hearts Three": '@Url.Content("~/cards/hearts/hearts_three.png")',
            "Hearts Four": '@Url.Content("~/cards/hearts/hearts_four.jpg")',
            "Hearts Five": '@Url.Content("~/cards/hearts/hearts_five.png")',
            "Hearts Six": '@Url.Content("~/cards/hearts/hearts_six.png")',
            "Hearts Seven": '@Url.Content("~/cards/hearts/hearts_seven.png")',
            "Hearts Eight": '@Url.Content("~/cards/hearts/hearts_eight.png")',
            "Hearts Nine": '@Url.Content("~/cards/hearts/hearts_nine.png")',
            "Hearts Ten": '@Url.Content("~/cards/hearts/hearts_ten.png")',
            "Hearts Jack": '@Url.Content("~/cards/hearts/hearts_jack.png")',
            "Hearts Queen": '@Url.Content("~/cards/hearts/hearts_queen.jpg")',
            "Hearts King": '@Url.Content("~/cards/hearts/hearts_king.png")',


            "Diamonds Ace": '@Url.Content("~/cards/diamonds/diamonds_ace.png")',
            "Diamonds Two": '@Url.Content("~/cards/diamonds/diamonds_two.png")',
            "Diamonds Three": '@Url.Content("~/cards/diamonds/diamonds_three.png")',
            "Diamonds Four": '@Url.Content("~/cards/diamonds/diamonds_four.png")',
            "Diamonds Five": '@Url.Content("~/cards/diamonds/diamonds_five.png")',
            "Diamonds Six": '@Url.Content("~/cards/diamonds/diamonds_six.png")',
            "Diamonds Seven": '@Url.Content("~/cards/diamonds/diamonds_seven.png")',
            "Diamonds Eight": '@Url.Content("~/cards/diamonds/diamonds_eight.png")',
            "Diamonds Nine": '@Url.Content("~/cards/diamonds/diamonds_nine.png")',
            "Diamonds Ten": '@Url.Content("~/cards/diamonds/diamonds_ten.png")',
            "Diamonds Jack": '@Url.Content("~/cards/diamonds/diamonds_jack.jpg")',
            "Diamonds Queen": '@Url.Content("~/cards/diamonds/diamonds_queen.jpg")',
            "Diamonds King": '@Url.Content("~/cards/diamonds/diamonds_king.jpg")',


            "Clubs Ace": '@Url.Content("~/cards/clubs/clubs_ace.png")',
            "Clubs Two": '@Url.Content("~/cards/clubs/clubs_two.png")',
            "Clubs Three": '@Url.Content("~/cards/clubs/clubs_three.png")',
            "Clubs Four": '@Url.Content("~/cards/clubs/clubs_four.png")',
            "Clubs Five": '@Url.Content("~/cards/clubs/clubs_five.png")',
            "Clubs Six": '@Url.Content("~/cards/clubs/clubs_six.png")',
            "Clubs Seven": '@Url.Content("~/cards/clubs/clubs_seven.png")',
            "Clubs Eight": '@Url.Content("~/cards/clubs/clubs_eight.png")',
            "Clubs Nine": '@Url.Content("~/cards/clubs/clubs_nine.png")',
            "Clubs Ten": '@Url.Content("~/cards/clubs/clubs_ten.png")',
            "Clubs Jack": '@Url.Content("~/cards/clubs/clubs_jack.png")',
            "Clubs Queen": '@Url.Content("~/cards/clubs/clubs_queen.png")',
            "Clubs King": '@Url.Content("~/cards/clubs/clubs_king.png")',



            "Spades Ace": '@Url.Content("~/cards/spades/spades_ace.png")',
            "Spades Two": '@Url.Content("~/cards/spades/spades_two.png")',
            "Spades Three": '@Url.Content("~/cards/spades/spades_three.png")',
            "Spades Four": '@Url.Content("~/cards/spades/spades_four.png")',
            "Spades Five": '@Url.Content("~/cards/spades/spades_five.png")',
            "Spades Six": '@Url.Content("~/cards/spades/spades_six.png")',
            "Spades Seven": '@Url.Content("~/cards/spades/spades_seven.png")',
            "Spades Eight": '@Url.Content("~/cards/spades/spades_eight.png")',
            "Spades Nine": '@Url.Content("~/cards/spades/spades_nine.png")',
            "Spades Ten": '@Url.Content("~/cards/spades/spades_ten.png")',
            "Spades Jack": '@Url.Content("~/cards/spades/spades_jack.png")',
            "Spades Queen": '@Url.Content("~/cards/spades/spades_queen.png")',
            "Spades King": '@Url.Content("~/cards/spades/spades_king.png")'
        }
    </script>
    <script src="~/js/site.js"></script>
</body>

</html>